.Buttonicon{}
.Buttonicon img{
    width: 30px;
}
.icon-holder{
    width: 65px;
    height: 60px;
    padding: 3px !important;
}
#iconImage{
    width: 100%;
    height: 100%;
}
.icon-holder .material-icons{
    margin-top:10px;
}
.card-icon.icon-rose{
    width: 100px;
    height:100px;
    margin:auto;
    border-radius: 50%; 
    padding: 0px;
    background-position: center !important;
    background-size: contain !important;
}

.card-icon.icon-rose .icon-button{
    border-radius: 50%;
    max-width:100%;
    max-height:100%;
}

.view-button b{
    display: block;
    text-align: left; 
}
.bmd-label-floating.left{
    left:0 !important;
}
.bmd-label{
    top:-10px;
    left: 0% !important;
}
.textarea{
    border:0px solid;
    border-bottom:1px solid lightgray;
}
.edit-100{
    height: 100px !important;
}
.edit-140{
    height: 140px !important;
}
.edit-200{
    height: 200px !important;
}

.subbuttons:hover{
    transform: scale(0.9);
}
.subbuttons:hover .deleteSub{
    display: block;
}
.deleteSub{
    display: none;
    position: absolute;
    top:5%;
    right:5%;
    color:white;
}
.deleteSub:hover{
    cursor: pointer;
}
.searchBtn{
    width: 100%;
    box-shadow: none;
    border:none;
    margin-top:10px;
    padding: 4px 20px;
    border-radius: 4px;
}
.form-group input[type=file]{
    opacity: 1 !important;
    position: unset !important;
    border:none !important;
    outline: none !important;
    background: transparent;
    height: fit-content !important;
    padding: 0px !important;
}

.videoholder iframe{
    width: 100%;
    height: 150px;
}