@media (max-width:1000px){
    
    .ina{
        flex: 0 0 83.333333% !important;
        max-width: 83.333333% !important;
        margin-left: 8.333333% !important;
    }

    #navbar{
        background: white !important;
        /* padding-left:20px; */
        /* padding-right: 20px; */
    }
    #footer .navbar{
        background: gray; 
        box-shadow: 0px -4px 22px lightgrey;
    }
    .btn-dt{
        color: white !important;
        padding: 0px 10px;
    }
    .btn-dt-lg{
        color: white !important;
        padding: 5px 25px;
    }
    .primary{
        background: #00b3ff !important;
    }
    .primary-border{
        border:1px solid #00b3ff !important;
    }
    .text-primary{
        color:#00b3ff !important;
    }
    .nav-link.btn-dt{ 
        color:white !important;
        display: unset !important; 
        padding: 4px 27px !important;
        border-radius: 5px
    }
    .nav-link{
        font-size: 11px;
        color:black !important;
    }
    .nav-item{
        margin-right:14px;
    }
    .nav-link .fas{
        color: #b6b6b6;
        font-size: 19px;
    }
    #footer ul{
        padding-left: 1.5em;
    }
    #footer .nav-item{
        margin-right:0px !important;
        margin-left:0px;
    }
    #alert{ 
        position: absolute;
        right: 3em;
        box-shadow: 0px 0px 15px lightgray;
        padding: 10px 15px;
        border-radius: 5px;
    }
    #alert .body{
        width: 428px;
        color: gray;
        font-size: 10px;
        text-align: left;
    }
    #alert .body p{
        margin: 0px;
        padding: 0px;
        margin-bottom: 10px;
    }
    #alert .body .btn{
        font-size: 12px;
        float: right; 
        padding: 1px 10px;
    }
    #alert .body .btn:last-child{
        padding:1px 20px;
    }
    .modal-title{
        font-size: 13px;
        color: gray;
    }
    .modal-header{
        border: none;
    }
    .modal-footer{
        border: none;
    }
    #loginModal  label{
        text-align: left;
        font-size:13px;
        padding: 0px;
    }
    #loginModal {
        max-width: 325px !important; 
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: fit-content;  
    }
    #loginModal  input{
        font-size: 13px;
        border-radius: 2px;
        height: 32px;
        padding: 0px 20px; 
    }
    .form-check-input{
        margin-top: 0;
        transform: scale(1.5);
        box-shadow: none;
    }
    .form-check{
        text-align: -webkit-auto;
    }
    .dt-text{
        font-size: 11px;
    }
    #loginModal .btn{
        padding: 2.8px 20px;
        font-weight: 600; 
    }
    .modal-content{
        padding: 5px 20px;
        box-shadow: 0px 0px 15px lightgray;
        border:none;
        transform: scale(0.95);
    }
    .modal-backdrop{
        background-color: white;
    }
    
    
    
    
    
    #regModal  label{
        text-align: left;
        font-size:13px;
        padding: 0px;
        float: left;
    }
    #regModal {
        max-width: 325px !important; 
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: fit-content;  
    }
    #regModal  input{
        font-size: 13px;
        border-radius: 2px;
        height: 32px;
        padding: 0px 20px;
        
    }
    
    #regModal .btn{
        padding: 2.8px 20px;
        font-weight: 600;
    
    }
    #regModal .modal-content{
        padding: 5px 20px;
        box-shadow: 0px 0px 15px lightgray;
        border:none;
        transform: scale(0.95);
    }
    
    .reg_btm{
        width: 17px;
        margin:4px;
    }
    .dt-bold-600{
        font-weight: 600px;
    }
    .ihac{ 
        display: block;
        text-decoration:none;
        color: #ababab;
        display: block;
        text-decoration: none !important;
        font-size: 12px;
        font-weight: 500;
        margin-top: 10px;
    }
    .ihac:hover{ 
        color: gray;
    }
    
    #mainbody{ 
        margin: 0px 20px;
        padding: 20px 0px;
    }
    #robt{
        border-radius: 5px;
        box-shadow: 0px 8px 9px #bdbdbd;
        margin-bottom:25px;
    }
    #robt p{
        font-size: 12px;
        color:white;
        text-align: left;
        padding: 14px 20px;
        margin: 0px;
        font-weight: 500;
    }
    #userInput{
       box-shadow: 0px 0px 10px lightgray;
        text-align: left;
        position: relative;
        border-radius: 6px;
        transition: all .3s linear;
    }
    .inner{
        border-radius: 6px;
    }
    #userInput input{
        border:none;
        font-size: 13px;
        padding: 12px 25px;
        width: 100% ;
        border-radius: 6px;
    }
    
    #userInput input:focus{
        outline: none;
        border:none;
        box-shadow: 0px 0px 13px lightgray;
    }
    #userInput i.fas{
        position: absolute;
        padding: 0px 3px;
        right: 25px;
        color: hsla(0, 0%, 72%, 1);
        top: 0;
        bottom: 0;
        margin: auto;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        font-size: 16px;
    }
    #userInput i.fas:hover{
        color: gray;
        cursor: pointer;
        transform: scale(1.1);
        transition: all .2s ease-in-out;
    }
    #userInput i.fas:first-child{
        right: 30px;
    }
    #userInput i.fas:last-child{
        right: 50px;
    }
    
    #waves{
        height: 250px;
    }
    .modal{
        display: none;
    }
    .user-icon:hover{
        cursor: pointer;
    }
    .user-icon img{
        width: 25px;
        border-radius: 50%;
        margin-right: 10px;
        margin-bottom: 2px;
    }
    .user-icon i.fas{
        color: #00b3ff;
        font-size: 13px;
        margin-left: 8px;
    }
    #settingsModal {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: fit-content;  
    }
    .dropdown-menu{
        left: unset;
        border: none;
        box-shadow: 0px 0px 10px lightgray;
        transform: scale(0.9);
        min-width: 9rem;
    }
    .dropdown-toggle::after{
        display: none;
    }
    .dropdown-menu ul{
        margin:0px;
        padding: 0px;
    
    }
    .dropdown-menu ul li{
        padding: 0px 5px 0px 20px;
    }
    .dropdown-menu ul li a{
        font-size: 13px;
    }
    .dropdown-menu ul li a:active{
        color: black;
        background: white;
    }
    .dropdown-menu ul li:active{
        color: black;
        background: white;
    }
    
    .setting_side1{
        border-right: 1px solid #f0f0f0;
        background-color: #fcfcfc;
    }
    .setting_side1 h5{
        font-size: 13px;
        color: hsla(0, 0%, 71%, 1);
        padding: 14px 0px;
        font-weight: 700;
    }
    .nav-pills .nav-link{
        background-color: white;
        border-radius: 0px;
        color: #4d4d4d !important;
        font-size: 12px;
        font-weight: 700;
        text-align: left;
    }
    .nav-pills .nav-link:last-child{
        color:gray !important;
    }
    .nav-pills .nav-link.active
    {
        background-color: #00b3ff;
        color: white !important;
    }
    .setting_side2{
        /* border:1px solid black; */
    }
    .hd{
        padding: 15px 15px 15px 20px;
    }
    .hd2 .bg{
    }
    .hd span.bg {
        font-size:20px !important;
    }
    .hd small{
        display: block;
        text-align: left;
        padding: 0px;
        font-size: 11px;
        font-weight: 500; 
        color: #adadad;
    }
    .hd .location{
        font-size: x-small;
        color: gray;
        padding-top: 11px;
        padding-left: 10px;
        font-weight: 400;
    }
    .mainsettingsbody{
        padding-left: 19px;
        padding-bottom: 25px;
    }
    .passport{
        /* border:1px solid lightgray; */
        display: inline-block;
    }
    
    .passport .inner{
        border:1px solid #f0f0f0;
        width: fit-content;
        padding: 14px !important;
    }
    .passport img{
        width: 160px;
        border-radius: 2px;
    }
    .btn-upld{
        background: #ededed;
        padding: 2px;
        margin-top: 12px;
        font-size: 11px;
        font-weight: 500;
        color: #ababab;
        position: relative;
        border-radius: 3px;
    }
    .btn-upld i.fas{
        font-size: 12px;
        color: #00b3ff;
        position: absolute;
        top: 0px;
        bottom: 0px;
        margin: auto;
        height: fit-content;
        right: 10px;
    }
    .regdate{
        display: block;
        font-size: 10px;
        font-weight: 700;
        color: #b5b5b5;
        text-align: left;
        margin-top: 10px;
    }
    .regdate span:last-child{
        float: right;
        margin-right: 26px;
    }
    .inner-body{
        /* border: 1px solid lightgray; */
        display: inline-block;
    }
    .inner-body h5{
        font-size: 11px;
        font-weight: 600;
        color:#ababab;
        text-align: left;
        margin:0px;
        margin-bottom: 15px;
        margin-top: 13px;
    }
    .inner-body .form-group{
        position: relative;
        margin-bottom: 0.7rem;
    }
     .inner-body .form-group label{
        position: absolute;
        top: 0;
        margin: 0px;
        bottom: 0;
        height: fit-content;
        margin: auto;
        right: 7px;
        color: #ababab;
        font-size: 12px;
        font-weight: 500; 
        background: white;
        padding: 0px 5px;
    }
    .inner-body .form-group input{
        height: 33px;
        border-radius: 3px;
        padding-left: 20px;
        color: #3d3d3d;
        border-color: #ededed;
    }
    .inner-body .btn-dt-lg{
        float: right;
        margin-bottom: 10px;
    }
    #mod{
        border:1px solid gray;
    }
    #box{
        box-shadow: 0px 0px 10px lightgrey;
        background: white;
        padding: 0px;
        transform: scale(0.89);
    }
    #sub_box{
        border:1px solid #f2f2f2;
        padding-top:13px !important;
        border-radius:5px;
        margin-bottom:20px !important;
    }
    #sub_box .side-left{
    
    }
    #sub_box .side-left h1{
        font-size: 32px;
    }
    #sub_box .side-left img{
        width: 120px;
    }
    #sub_box .side_right{
        
    }
    .hed{
        text-align:left;
    }
    .hed span:last-child{
        padding: 7px 15px;
        float: right !important;
        background: #00b3ff;
        color: white;
        font-size: 10px;
        font-weight: 700;
    }
    .hed span:first-child{
        font-size: 14px;
        font-weight: 600;
        color: gray; 
    }
    .bdy{
        text-align: left;
    }
    .bdy p{
        color: gray;
        font-weight: 500;
        font-size: 14px;
    
    }
    .bdy button{
        color: white;
        font-size: 12px;
        font-weight: 500;
        padding: 8px 60px;
        float: right;
        margin-top: 27px;
        margin-bottom: 30px;
        margin-right: 25px;
    } 
    .wjp{
        color:gray;
        font-size: 21px;
    }
    .wpp{
        font-size: 13px;
        text-align: left;
        line-height: 2.3;
        color: gray;
    }

    #btnRow{ 
        margin-bottom: 10px;
    }
    
    #btnRow .btn  {
        font-size: 11px;
        border: 1px solid lightgray; 
        color: gray;
        font-weight: 500;
        background: #f2f2f2; 
        width: 15%;
        margin: auto 0.83%;
        margin-bottom: 10px;
        border-radius: 2px;
    
    }

    #btnRow2 .btn {
        font-size: 11px; 
        color: white;
        font-weight: 500;
        background: #00b2ff;
        padding: 10px 0px;
        width: 31.4%;
        margin: 2px 2%;
        margin-bottom: 6px;
        border-radius: 2px;
    }

    
}

@media (max-width:1199px){
    #bottombar {
        border: none;
        position: absolute;
        z-index: 9;
        box-shadow: 0px -1px 10px lightgrey;
    }

    .ina{
        max-width: 60%;
        margin-left: 20%;
    }

}