html,body{
    height: 100%;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
#root,.App{
    height: 100%;
}
#navbar{
    background: white !important;
    /* padding-left:20px; */
    /* padding-right: 20px; */
}
#navbar .nav{
    /* width: 100%;
    text-align: right; */
}
#footer{
    bottom: 0% !important;
    padding: 0px 30px;
    position: relative;
    z-index: 8;
    width: 100%;
    padding-bottom: 20px;
}
#footer .navbar{
    background: gray; 
    box-shadow: 0px -4px 22px lightgrey;
}
.btn-dt{
    color: white !important;
    padding: 0px 10px;
}
.btn-dt-lg{
    color: white !important;
    padding: 5px 25px;
}
.primary{
    color:white !important;
    background: #00b3ff !important;
}
.primary-border{
    border:1px solid #00b3ff !important;
}
.text-primary{
    color:#00b3ff !important;
}
.nav-link.btn-dt{ 
    color:white !important;
    display: unset !important; 
    padding: 4px 27px !important;
    border-radius: 5px
}
.nav-link{
    font-size: 11px;
    color:black !important;
    border:none;
    background:transparent;
}
.nav-item{
    margin-right:14px;
}
.nav-link .fas{
    color: #b6b6b6;
    font-size: 19px;
}
.nav-link .fas.active{
    color:#00b2ff;
}
#footer ul{
    padding-left: 1.5em;
}
#footer .nav-item{
    margin-right:0px !important;
    margin-left:0px;
}
#alert{ 
    position: absolute;
    right: 3em;
    box-shadow: 0px 0px 15px lightgray;
    padding: 10px 15px;
    border-radius: 5px;
}
#alert .body{
    width: 428px;
    color: gray;
    font-size: 10px;
    text-align: left;
}
#alert .body p{
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
}
#alert .body .btn{
    font-size: 12px;
    float: right; 
    padding: 1px 10px;
}
#alert .body .btn:last-child{
    padding:1px 20px;
}
.modal-title{
    font-size: 13px;
    color: gray;
}
.modal-header{
    border: none;
}
.modal-footer{
    border: none;
}
#loginModal  label{
    text-align: left;
    font-size:13px;
    padding: 0px;
}
#loginModal {
    max-width: 325px !important; 
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: fit-content;  
}
#loginModal  input{
    font-size: 13px;
    border-radius: 2px;
    height: 32px;
    padding: 0px 20px; 
}
.form-check-input{
    margin-top: 0;
    transform: scale(1.5);
    box-shadow: none;
}
.form-check{
    text-align: -webkit-auto;
}
.dt-text{
    font-size: 11px;
}
#loginModal .btn{
    padding: 2.8px 20px;
    font-weight: 600; 
}
.modal-content{
    padding: 5px 20px;
    box-shadow: 0px 0px 15px lightgray;
    border:none;
    transform: scale(0.95);
}
.modal-backdrop{
    background-color: white;
}





#regModal  label{
    text-align: left;
    font-size:13px;
    padding: 0px;
    float: left;
}
#regModal {
    max-width: 325px !important; 
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: fit-content;  
}
#regModal  input{
    font-size: 13px;
    border-radius: 2px;
    height: 32px;
    padding: 0px 20px;
    
}

#regModal .btn{
    padding: 2.8px 20px;
    font-weight: 600;

}
#regModal .modal-content{
    padding: 5px 20px;
    box-shadow: 0px 0px 15px lightgray;
    border:none;
    transform: scale(0.95);
}

.reg_btm{
    width: 17px;
    margin:4px;
}
.dt-bold-600{
    font-weight: 600px;
}
.ihac{ 
    display: block;
    text-decoration:none;
    color: #ababab;
    display: block;
    text-decoration: none !important;
    font-size: 12px;
    font-weight: 500;
    margin-top: 10px;
}
.ihac:hover{ 
    color: gray;
}
#settings{
    min-height: 100%;
}

#mainbody{
    background: #fcfcfc;
    margin: 0px 20px;
    padding: 0px 0px;
    position: relative;
    overflow: hidden;
    min-height: 91% !important;
}
.ina{
    padding:20px 0px;
}
#robt{
    border-radius: 5px;
    box-shadow: 0px 8px 9px #bdbdbd;
    margin-bottom:25px;
}
#robt p{
    font-size: 12px;
    color:white;
    text-align: left;
    padding: 14px 20px;
    margin: 0px;
    font-weight: 500;
}
#userInput{
   box-shadow: 0px 0px 10px lightgray;
    text-align: left;
    position: relative;
    border-radius: 6px;
    transition: all .3s linear;
}
.inner{
    border-radius: 6px;
}
#userInput input{
    border:none;
    font-size: 13px;
    padding: 12px 25px;
    width: 100% ;
    border-radius: 6px;
}

#userInput input:focus{
    outline: none;
    border:none;
    box-shadow: 0px 0px 13px lightgray;
}
#userInput i.fas{
    position: absolute;
    padding: 0px 3px;
    right: 25px;
    color: hsla(0, 0%, 72%, 1);
    top: 0;
    bottom: 0;
    margin: auto;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    font-size: 16px;
}
#userInput i.fas:hover{
    color: gray;
    cursor: pointer;
    transform: scale(1.1);
    transition: all .2s ease-in-out;
}
#userInput i.fas:first-child{
    right: 30px;
}
#userInput i.fas:last-child{
    right: 50px;
}

#waves{
    height: 250px;
}
.modal{
    display: none;
}
.user-icon:hover{
    cursor: pointer;
}
.user-icon img{
    width: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 2px;
}
.user-icon i.fas{
    color: #00b3ff;
    font-size: 13px;
    margin-left: 8px;
}
#settingsModal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: fit-content;  
}
.dropdown-menu{
    left: unset;
    border: none;
    box-shadow: 0px 0px 10px lightgray;
    transform: scale(0.9);
    min-width: 9rem;
}
.dropdown-toggle::after{
    display: none;
}
.dropdown-menu ul{
    margin:0px;
    padding: 0px;

}
.dropdown-menu ul li{
    padding: 0px 5px 0px 20px;
}
.dropdown-menu ul li a{
    font-size: 13px;
}
.dropdown-menu ul li a:active{
    color: black;
    background: white;
}
.dropdown-menu ul li:active{
    color: black;
    background: white;
}

.setting_side1{
    border-right: 1px solid #f0f0f0;
    background-color: #fcfcfc;
}
.setting_side1 h5{
    font-size: 13px;
    color: hsla(0, 0%, 71%, 1);
    padding: 14px 0px;
    font-weight: 700;
}
.nav-pills .nav-link{
    background-color: white;
    border-radius: 0px;
    color: #4d4d4d !important;
    font-size: 12px;
    font-weight: 700;
    text-align: left;
}
.nav-pills .nav-link:last-child{
    color:gray !important;
}
.nav-pills .nav-link.active
{
    background-color: #00b3ff;
    color: white !important;
}
.setting_side2{
    /* border:1px solid black; */
}
.hd{
    padding: 15px 15px 15px 20px;
}
.hd2 .bg{
}
.hd span.bg {
    font-size:20px !important;
}
.hd small{
    display: block;
    text-align: left;
    padding: 0px;
    font-size: 11px;
    font-weight: 500; 
    color: #adadad;
}
.hd .location{
    font-size: x-small;
    color: gray;
    padding-top: 11px;
    padding-left: 10px;
    font-weight: 400;
}
.mainsettingsbody{
    padding-left: 19px;
    padding-bottom: 25px;
}
.passport{
    /* border:1px solid lightgray; */
    display: inline-block;
}

.passport .inner{
    border:1px solid #f0f0f0;
    width: fit-content;
    padding: 14px !important;
}
.passport img{
    width: 160px;
    border-radius: 2px;
}
.btn-upld{
    background: #ededed;
    padding: 2px;
    margin-top: 12px;
    font-size: 11px;
    font-weight: 500;
    color: #ababab;
    position: relative;
    border-radius: 3px;
}
.btn-upld i.fas{
    font-size: 12px;
    color: #00b3ff;
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto;
    height: fit-content;
    right: 10px;
}
.regdate{
    display: block;
    font-size: 10px;
    font-weight: 700;
    color: #b5b5b5;
    text-align: left;
    margin-top: 10px;
}
.regdate span:last-child{
    float: right;
    margin-right: 26px;
}
.inner-body{
    /* border: 1px solid lightgray; */
    display: inline-block;
}
.inner-body h5{
    font-size: 11px;
    font-weight: 600;
    color:#ababab;
    text-align: left;
    margin:0px;
    margin-bottom: 15px;
    margin-top: 13px;
}
.inner-body .form-group{
    position: relative;
    margin-bottom: 0.7rem;
}
 .inner-body .form-group label{
    position: absolute;
    top: 0;
    margin: 0px;
    bottom: 0;
    height: fit-content;
    margin: auto;
    right: 7px;
    color: #ababab;
    font-size: 12px;
    font-weight: 500; 
    background: white;
    padding: 0px 5px;
}
.inner-body .form-group input{
    height: 33px;
    border-radius: 3px;
    padding-left: 20px;
    color: #3d3d3d;
    border-color: #ededed;
}
.inner-body .btn-dt-lg{
    float: right;
    margin-bottom: 10px;
}
#mod{
    border:1px solid gray;
}
#box{
    box-shadow: 0px 0px 10px lightgrey;
    background: white;
    padding: 0px;
    transform: scale(0.89);
}
#sub_box{
    border:1px solid #f2f2f2;
    padding-top:13px !important;
    border-radius:5px;
    margin-bottom:20px !important;
}
#sub_box .side-left{

}
#sub_box .side-left h1{
    font-size: 32px;
}
#sub_box .side-left img{
    width: 120px;
}
#sub_box .side_right{
    
}
.hed{
    text-align:left;
}
.hed span:last-child{
    padding: 7px 15px;
    float: right !important;
    background: #00b3ff;
    color: white;
    font-size: 10px;
    font-weight: 700;
}
.hed span:first-child{
    font-size: 14px;
    font-weight: 600;
    color: gray; 
}
.bdy{
    text-align: left;
}
.bdy p{
    color: gray;
    font-weight: 500;
    font-size: 14px;

}
.bdy button{
    color: white;
    font-size: 12px;
    font-weight: 500;
    padding: 8px 60px;
    float: right;
    margin-top: 27px;
    margin-bottom: 30px;
    margin-right: 25px;
} 
.wjp{
    color:gray;
    font-size: 21px;
}
.wpp{
    font-size: 13px;
    text-align: left;
    line-height: 2.3;
    color: gray;
}
#logo img{
    width: 250px;
    margin-bottom: 30px;
}




#leftbar{
    height: 100%;
    width: 325px;
    transition: all .3s ease-in-out;
    border-right: 1px solid #dedede40;
    padding: 25px 0px;
    position: absolute;
    z-index: 99;
    overflow: hidden;
    background: white;
    /* box-shadow: 1px 0px 2px lightgrey; */
}


#rightbar{
    height: 100%;
    width: 325px;
    transition: all .3s ease-in-out;
    border: none;
    border-left: 1px solid #dedede40;
    padding: 25px 0px;
    position: absolute;
    z-index: 99;
    overflow: hidden;
    background: white;
    /* box-shadow: 1px 0px 15px lightgrey; */
}

#rightbar.show{
    right:0px;
 }
 #rightbar.hidde{
     right: -325px;
 }

#leftbar.show{
   left:0px;
}
#leftbar.hidde{
    left: -325px;
}
#leftbar.hidde .inner{
    /* display: none; */
}
#leftbar .inner{

}
#leftbar .inner h5{
    font-size: 13px;
    color: gray;
    font-weight: 600;
    text-align: left;
    padding: 0px 15px 10px 35px;
}
#rightbar .inner h5{
    font-size: 13px;
    color: gray;
    font-weight: 600;
    text-align: right;
    padding: 0px 35px 0px 15px;
    margin: 0px;
}

#leftbar .inner h5 ul{
    display: inline-block;
    margin: 0px;
    padding: 0px;
    float: right;
}
#leftbar .inner h5 ul li{
    display: inline-block;
    margin-right: 15px;
    font-size: 10px;
    font-weight: 400;
    position: relative;
}
#leftbar .inner h5 ul li::after{
    display: block;
    content: ' > ';
    position: absolute;
    top: 0;
    right: -6px;

}
.emptyMatrixBox{

}
.emptyMatrixBox a:hover{
    background:white !important;
    transform: scale(1) !important;

}
.matrixBox ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    height: 300px;
    overflow-y: scroll;
    text-align: left;
}
.matrixBox ul li{
    display: inline-block;
    padding: 3px 10px;
    margin-bottom: 10px;
    width: 31%;
}
/* .matrixBox ul li:nth-child(3odd){
    margin-left: 10px;
} */
.matrixBox ul li a{
    text-decoration: none;
    color: black;
    display: grid;
    height: 90px;
    overflow: hidden;
    padding: 10px 2px 5px 2px; 
    box-shadow: 0px 3px 10px lightgrey;
    border-radius: 3px;
    transition: all .1s ease-in-out;
    text-align: center;
}
.matrixBox ul li a div.imageHolder{
    width: 80%;
    height: 45px;
    margin:auto; 
    /* border: 1px solid red; */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.matrixBox ul li a.selected{
    background: #00b2ff;
    color: white;
}
.matrixBox ul li a:hover{
    background: #00b2ff;
    color: white;
    transform: scale(1.05);
}
.matrixBox ul li a.active{
    background: #00b2ff;
    color: white;
    transform: scale(1.05);
    animation: flash .4s infinite ease-in-out;
}
.matrixBox ul li a img{
    display: block;
    width: 40px;
    max-height: 40px;
    margin: 0px auto;
    /* padding: 5px 18px 2px; */
}
.matrixBox ul li a span{
    font-size: 9px;
    font-weight: 500;
    display: block;
    margin-top: 5px;
    line-height: 11px;
    overflow: hidden;
}
.matrixController{
    width: 100%;
    margin-top: 20px;
}
.matrixController .inne{
    width: 82%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.matrixController .btn{
    border: 1px solid #f0f0f0;
    border-radius: 3px;
    padding: 5px 33px;
}
.matrixController .btn.ready{
    background: #00b2ff;
    color: white;
    border: 1px solid #00affa;
    box-shadow: 0px 0px 14px #00b2ff;
    animation: flash .4s infinite ease-in-out;
}

.matrixController .btn:last-child{
    margin-right: 0px !important;
}
.matrixController .btn.active{
    border: none;
    background: #00b2ff;
    color: white;
}
.matrixController .btn.disabled{
    background: #f5f5f5;
    border: none;
    cursor: not-allowed;
}
.matrixController .btn.disabled:active{
    outline: none;
    border: none;
}
.matrixController .btn i.fas{
    font-size: 14px;
}

.matrixSearch{
    margin-top: 20px;
}
.matrixSearch .inne{
    width: 82%;
    margin: auto;
    position: relative;
}
.matrixSearch .inne label{
    position: absolute;
    top: 0;
    margin: 0px;
    bottom: 0;
    height: fit-content;
    margin: auto;
    right: 7px;
    color: #ababab;
    font-size: 16px;
    font-weight: 500; 
    background: white;
    padding: 0px 5px;
}
.matrixSearch .inne input{
    color: gray;
    border: 1px solid #f2f2f2;
}
.matrixMenu{}
.matrixMenu .inne{
    width: 82%;
    margin: auto; 
}
.matrixMenu .inne .btn{
    font-size: 12px;
    font-weight: 400;
    border: 1px solid #f0f0f0;
    border-radius: 3px;
    padding: 10px 0px;
    width: 47%;
    margin-top: 15px;
    background: white;
    transition: all .1s ease-in-out;
}
.matrixMenu .inne .btn.active{
    background: #00b2ff;
    color: white;
    border: none;
}
.matrixMenu .inne .btn.clicked{
    transform: scale(0.8);
    animation: flash .4s infinite ease-in-out;
}
.matrixMenu .inne .btn:hover{
    background: #00b2ff;
    color: white;
    transform: scale(1.03);
}
.matrixMenu .inne .btn:disabled:hover{
    background: rgb(243, 210, 210);
    color: white;
    transform: scale(1.05);
}
.matrixMenu .inne .btn:nth-child(odd){
    margin-right: 5%;
}
#btnRow{
    display: block;
    justify-content: space-between;
    margin-bottom: 10px;
}

#btnRow .btn{
    font-size: 11px;
    border: 1px solid lightgray; 
    padding: 10px 0px;
    color: gray;
    font-weight: 500;
    background: #f2f2f2;
    width: 15%;
    margin: auto 0.83%;
    margin-bottom: 17px;
    border-radius: 2px; 
}
#btnRow .btn.active{
    background: #009de0;
    color: white;
    border:none;
    box-shadow: 0px 2px 14px #00b2ff;
}
#btnRow .btn.ready{
    background: #00b2ff;
    color: white;
    border: 1px solid #00affa;
    box-shadow: 0px 0px 14px #00b2ff;
    animation: flash .4s infinite ease-in-out;
}
#btnRow .btn:hover{
    transform: scale(1) !important;
}

#btnRow2 .btn.ready{
    background: #00b2ff;
    color: white;
    border: 1px solid #00affa;
    box-shadow: 0px 0px 14px #00b2ff;
    animation: flash .4s infinite ease-in-out;
}

@keyframes flash{
    0%{ box-shadow: 0px 0px 0px #00b2ff; border: 1px solid white;}
    50%{ box-shadow: 0px 2px 14px #00b2ff; border: 1px solid #00affa;}
    100%{
        box-shadow: 0px 0px 0px #00b2ff; border: 1px solid white;
    }
}
#btnRow .btn:hover{
    transform: scale(1.02);
}

#btnRow2{
    display: block;
    /* justify-content: space-between; */
    text-align: left;
}

#btnRow2 .btn{
    font-size: 12px; 
    color: white;
    font-weight: 500;
    background: #00b2ff;
    padding: 10px 0px;
    width: 31.4%;
    margin: 2px 1%;
    margin-bottom: 6px;
    border-radius: 2px;
}
#btnRow2 .btn.mute{
    font-size: 12px;
    color: white;
    font-weight: 500;
    background: #d3d3d33d;
    padding: 19px 0px;
    width: 31.4%;
    margin: 2px 1%;
    margin-bottom: 6px;
    border-radius: 2px;
}
#btnRow2 .btn.mute:hover{
    background: #d3d3d33d;
}
#btnRow2 .btn:nth-child(1){    
    margin-left:1% !important;
    margin-right:1% !important;
}
#btnRow2 .btn:nth-child(2){    
    margin-left:1% !important;
    margin-right:2% !important;
}
#btnRow2 .btn:nth-child(3){  
    margin-left:0% !important;
    margin-right:0% !important;
} 
#btnRow2 .btn:nth-child(4){    
    margin-left:1% !important;
    margin-right:1% !important;
}
#btnRow2 .btn:nth-child(5){    
    margin-left:1% !important;
    margin-right:2% !important;
}
#btnRow2 .btn:nth-child(6){  
    margin-left:0% !important;
    margin-right:0% !important;
}
#btnRow2 .btn:hover{
    background:#009de0;
}



#btnRow2 .RowBottom2Skeleton li{
    font-size: 12px;
    color: white;
    font-weight: 500;
    padding: 10px 0px;
    width: 31.4%;
    margin: 2px 1%;
    margin-bottom: 6px;
    border-radius: 2px;
}
#btnRow2 .RowBottom2Skeleton li:nth-child(1){
    margin-left:1% !important;
    margin-right:1% !important;
}
#btnRow2 .RowBottom2Skeleton li:nth-child(2){
    margin-left:1% !important;
    margin-right:2% !important;
}
#btnRow2 .RowBottom2Skeleton li:nth-child(3){
    margin-left:0% !important;
    margin-right:0% !important;
}
#btnRow2 .RowBottom2Skeleton li:nth-child(4){
    margin-left:1% !important;
    margin-right:1% !important;
}
#btnRow2 .RowBottom2Skeleton li:nth-child(5){
    margin-left:1% !important;
    margin-right:2% !important;
}
#btnRow2 .RowBottom2Skeleton li:nth-child(6){
    margin-left:0% !important;
    margin-right:0% !important;
}



#bottombar{
    position: absolute;
    bottom: 0%;
    padding: 20px 0px;
    left: 0;
    right: 0;
    z-index: 9;
    margin: auto;
    background: white;
    height: fit-content;
    box-shadow: 0px 0px 10px lightgray;
    padding-bottom: 40px;
    padding-top: 5px;
    transition:all .1s linear;
}
#bottombar.show{

}
#bottombar.hidde{
    height: 0px;
    padding: 0px !important;
    overflow: hidden;
}
#bottombar.hidde .inner{
    height: 0px;
    padding: 0px !important;
}

#bottombar .inner.show{
    height: 200px;
}
#bottombar .inner{
    padding: 0px 345px;
    margin: auto;
    border-radius: 0;
    overflow: hidden;
    transition:all .3s ease-in;
}
#bottombar .inner ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
#bottombar .inner ul li{
    /* border:1px solid lightgray; */
}
#bottombar .inner ul li:hover{
    background: #00affa;
    color:white;
}
#bottombar .inner ul li:hover a{
    color:white;
}
#bottombar .inner ul li:hover button{
    color:white;
    background-color: transparent;
}
#bottombar .inner ul li.active{
    background: #009de0;
    color: white;
}
#bottombar .inner ul li.active a{
    color: white;
}
#bottombar .inner ul li a{
    display: block;
    text-decoration: none;
    padding: 0px 25px;
    text-align: left;
    color: gray;
}
#bottombar .inner .icon{ 
    font-size: 14px;
}
#bottombar .inner .txt{ 
    padding: 5px 30px;
    font-size: 12px;
    display: inline-block;
    font-weight: 500;
}
#bottombar .inner .stars{
    display: none;
    float: right;
    font-size: 11px;
    padding: 5px 30px;
    color: #ffc107;
}
#bottombar .inner ul li.active .stars{
    display: block;
}
#bottombar .inner .stars i.fas{}
#bottombar .inner .btn{
    border: 1px solid #ebebeb;
    float: right;
    font-size: 12px;
    padding: 0px 16px;
    margin-top: 4px;
    color: gray;
}
#bottombar .inner ul li.active a .btn{
    background: #009de0;
    color: white;
    border: 1px solid lightblue;
    font-weight: 500;
}




 
#donate .d_hed{
    font-size: 13px;
    color: gray;
    text-align: left;
    font-weight: 700;
}
#donate .donateInner{
    margin: auto;
    margin-bottom: 30px; 
    box-shadow: 0px 0px 10px lightgray;
    padding: 20px 50px;
    background: white;
    margin-top: 30px;
}
#donate .d_body{

}
#donate .d_body p{
    font-size: 12px;
    text-align: left;
    line-height: 2.3;
    color: gray;
    
}
#donate .d_body .btns .btns{
    text-align: left;
}
#donate .d_body .btns .btn{
    color: white;
    width: 14%;
    margin-right: 11px;
    border-radius: 4px;
    text-align: center;
    padding: 6px 5px;
}
#donate .d_body .btns .form-control{
    display: inline-block;
    width: 15%;
    border-radius: 4px;
    border: 1px solid #e8e8e8;
    margin-left: 10px;
}
#donate .d_body .mod2 .form-control{
    display: inline-block;
    width: 15%;
    border-radius: 4px;
    border: 1px solid #e8e8e8;
    margin-left: 10px;
}

.mod2{
    margin-top:10px;
}

.mod2  .form-group{
    text-align: left;
}
.mod2  .form-group .form-check-input{
    transform: scale(1);
    position: relative;
    margin-right: 6px;
    margin-left: 0px;
}
.mod2  .form-group .form-check-label{
    font-size: 11px;
}
.mod2 select.form-control{
    margin-left: 0px;
    height: 21px;
    margin-top: 4px;
    font-size: 11px;
}

.form_mod{}
.form_mod form label{
    text-align: left;
    padding: 0px;
    color: gray;
    font-size: 12px;
    font-weight: 600;
}
.form_mod form label span{
    color: lightgray;
    font-weight: 300;
}
.form_mod form .form-control{
    border-radius: 2px;
    height: 35px;
    font-size: 12px;
}
.form_mod .d_hed.black{
    margin: 0px !important;
    margin-bottom: 5px !important;
}
.black{
    color: #555c62 !important;
}

.chk{
    padding: 0px 0px 0px 14px;
}
.form_mod  .form-group .form-check-input{
    transform: scale(1);
    position: relative;
    margin-right: 6px;
    margin-left: 0px;
}
.form_mod  .form-group .form-check-label{
    font-size: 11px;
}
.form_mod .btm {
    text-align: right;
}
 .form_mod .btm .btn{
    color: white;
    padding: 10px 40px;
    font-size: 13px;
    font-weight: 600;
 }




 #popup{
    content: '';
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 9;
    background: hsla(0, 0%, 100%, 0.8);
    top: 0;
    left: 0;
 }
 #popup .inner{
    position: fixed;
    z-index: 999999999;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: fit-content;
    box-shadow: 0px 0px 33px lightgrey;
    width: 500px;
    padding: 25px 30px;
    background: white;
    text-align: right;
 }
 #popup.show{
     display: block;
 }
 #popup.hide{
     display: none;
 }
 #popup::after{
    
 }

 #popup p{
    text-align: left;
 }

 #popup .inner .btn{
    padding: 0px 20px;
    font-size: 12px;
    margin-top: 20px;
 }

 #account{

 }
 #account .inner{
     margin: auto;
 }
 #account .boxes{
     margin-top: 30px;
 }
 #account .boxes .box{
     /* border:1px solid; */
     margin: auto;
     margin-bottom: 30px;
 }
 #account .boxes .box .inna{
    box-shadow: 0px 5px 28px #818a92;
     border-radius: 5px;
 }
 #account .boxes .box .primary.inna{
    box-shadow: 0px 0px 14px #00b2ff !important;
 }
 #account .boxes .box .ang{
    text-align: right;
 }
 #account .boxes .box .ang span{
    font-size: 9px;
    display: inline-block;
    padding: 4px 18px;
    margin-top: 14px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background: #00b2ff;
    border: 1px solid;
    color: white;
    font-weight: 700;
 }
 #account .boxes .box .bdy{
    padding: 35px 20px 20px 20px;
    text-align: center;
 }
 #account .boxes .box .bdy h2{
    font-size: 31px;
    text-align: center;
    font-weight: 600;
    color: gray;
 }

 #account .boxes .box .bdy img{
     width: 82px;
 }
 #account .boxes .box .bdy h4{ 
    text-align: center;
    color: gray;
    font-weight: 700;
    font-size: 20px;
}
#account .boxes .box .primary .bdy{
    padding-top: 72px; 
}
#account .boxes .box .primary .bdy h2{
    color: white;
}
#account .boxes .box .primary .bdy h4{
    color: white;
}
#account .boxes .box .footer{
    padding: 20px 20px 35px 20px;
}
#account .boxes .box .footer h4{
    text-align: left;
    color: gray;
    font-size: 15px;
    font-weight: 600;
}
#account .boxes .box .footer p{
    font-size: 12px;
    text-align: left;
    font-weight: 500;
    line-height: 15px;
    color: #616161;
}
#account .boxes .box .footer .btn{
    padding: 6px 27px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 3px;
}

#account .boxes .box .primary .footer h4{ 
    color: white;
}
#account .boxes .box .primary .footer p{ 
    color: white;
}
#account .boxes .box .primary .footer .btn{
    background: white !important;
    color: #00b2ff !important;
}

.fut{
    margin-top: 50px;
}
.fut h3{
    color: gray;
    font-weight: 700;
    font-size: 19px;
}
.fut p{
    font-size: 12px;
    text-align: left;
    font-weight: 400;
    line-height: 25px;
}
.container-dt{
    background: #d3d3d31f !important;
    min-height: 100% !important;
}
#membership{
    background: #d3d3d31f;
}
#membership h5{
    font-size: 12px;
    text-align: left;
    color: gray;
    margin-bottom: 25px;
    margin-left: 7px;
}
#membership .inner{
    box-shadow: 0px 0px 42px lightgrey;
    border-radius: 4px;
    margin: auto; 
    padding: 30px 30px;
    background: white;
    margin-top:20px;
}

#membership .box .bdy{
    text-align: center;
}
#membership .box img{
    width: 82px;
}
#membership .box h4{ 
   text-align: center;
   color: gray;
   font-weight: 700;
   font-size: 20px;
}


#membership .box{
    /* border:1px solid; */
    margin: auto;
    margin-bottom: 30px;
    padding: 0px 20px;
    display: inline-grid;
}
#membership .box .inna{
   box-shadow: 0px 5px 28px lightgray;
    border-radius: 5px;
    max-width: 240px;
    margin: auto;
}
#membership .box .primary.inna{
   box-shadow: 0px 0px 14px #00b2ff !important;
}
#membership .box .ang{
   text-align: right;
}
#membership .box .ang span{
   font-size: 9px;
   display: inline-block;
   padding: 4px 18px;
   margin-top: 14px;
   width: -webkit-fit-content;
   width: -moz-fit-content;
   width: fit-content;
   background: #00b2ff;
   border: 1px solid;
   color: white;
   font-weight: 700;
}
#membership .box .bdy{
   padding: 10px 20px 20px 20px;
   text-align: center;
}
#membership .box .bdy h2{
   font-size: 31px;
   text-align: center;
   font-weight: 600;
   color: gray;
}


#membership .box .footer{
    padding: 0px 20px 12px 20px;
}
#membership .box .footer h4{
    text-align: left;
    color: gray;
    font-size: 15px;
    font-weight: 600;
}
#membership .box .footer p{
    font-size: 12px;
    text-align: left;
    font-weight: 500;
    line-height: 15px;
    color: #616161;
}
#membership .box .btn.chg{
    padding: 6px 9px;
    font-size: 11px;
    font-weight: 600;
    margin: auto;
    margin-top: 20px;
    width: 113px;
}
#membership .box .btn{
    padding: 4px 28px;
    font-size: 11px;
    font-weight: 600;
    margin-top:20px;
}
#membership .form_mod .form-group{
    margin-bottom: 0px ;
}
#membership .form_mod .form-group input.form-control{
    border: 1px solid #d3d3d366;
    border-radius: 1px !important;
}

#membership .form_mod .form-group .btn{
    font-size: 11px;
    padding: 7px 35px;
}
#emaillist{}
#emaillist .inner{
    border-radius: 6px;
    margin: auto; 
    padding: 40px;
    text-align: left;
    box-shadow: 0px 0px 25px lightgrey;
    margin-top: 30px;
    background: white;
}
#emaillist h5{ 
    font-size: 13px;
    font-weight: 700;
    color: gray;
    margin-bottom: 20px;
}
#emaillist p{
    font-size: 13px;
    color: gray;
    line-height: 25px;
}
#emaillist p a{
    color: #00b2ff;
    text-decoration: underline;
}
#emaillist .form-group{
    padding-left: 0px;
}
#emaillist .form-group label{
    font-size: 14px;
    text-align: left;
    padding: 0px;
    padding-bottom: 3px;
    color: black;
}
#emaillist .form-group .form-control{
    border-radius: 2px;
    padding: 0px 10px;
    height: 34px;
    font-size: 12px;
    border: 1px solid #ebedf0;
}
#emaillist .form-group .btn{
    font-size: 11px;
    font-weight: 700;
    padding: 8px 28px;
    border-radius: 3px;
}


#advertise .inner{
    border-radius: 6px;
    margin: auto; 
    padding: 40px;
    text-align: left;
    box-shadow: 0px 0px 25px lightgrey;
    margin-top: 30px;
    background: white;
    margin-bottom:100px !important;
    transform: scale(0.9);
}
#advertise h5{ 
    font-size: 13px;
    font-weight: 700;
    color: gray;
    margin-bottom: 20px;
}
#advertise p{
    font-size: 13px;
    color: gray;
    line-height: 25px;
}




#feeds .inner{
    border-radius: 6px;
    margin: auto; 
    padding: 40px;
    text-align: left;
    box-shadow: 0px 0px 25px lightgrey;
    margin-top: 30px;
    background: white;
    margin-bottom:100px !important;
    transform: scale(0.9);
}
#feeds h5{ 
    font-size: 13px;
    font-weight: 700;
    color: gray;
    margin-bottom: 20px;
}
#feeds .cols{
    padding: 0px 5px;
}

#feeds .cols ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
#feeds .cols ul li{
    display: block;
}
#feeds .cols ul li a{
    text-decoration: none;
    color: gray;
    font-size: smaller;
    padding: 3px 5px;
    border-radius: 4px;
    text-align: left;
}

#feeds .cols ul li.active a{
    background: #00b2ff;
    color:white;
    display: block;
    
}





#blog {
    background: #adadad14;
    min-height: 100%;
    padding-bottom: 50px;
}
#blog .inna{
    margin: auto;
    padding: 20px; 
    border-radius: 0px;
    margin-top:20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px lightgray;
    margin-bottom: 30px;
}
#blog .list{}
#blog .list2{}

#blog .ad_banner{
    max-width: 100%;
    /*width: 100%;*/
}
#blog .list .ad_banner{
    margin-top:20px;
}
#blog .list2 .ad_banner{}
.blogs{
    margin-top:20px;
} 
.blogs .blg{
    margin-bottom: 20px !important;
}
.blogs .blg .blog_banner{
    width:100%; 
    height:90px;
    display: inline-block;
}
.blogs .blg .blg_det{

}
.blogs .blg h4{
    text-align: left;
    font-size: 15px;
    font-weight: 700;
    color: #474d52;
    word-spacing: 2px;
    margin-bottom: 4px;
}
.blogs .blg p{
    font-size: 11px;
    padding: 0px;
    margin: 0px;
    text-align: left;
    color: gray;
    
}
.blogs .blg .stats{
    text-align: left;
    font-size: 10px;
    margin-top: 4px;
}
.blogs .blg .stats .fas{
    color: var(--yellow);
}
.blogs .blg .stats span{
    margin-left: 9px;
    font-weight: 500;
    color: gray;
}

.blg-right{
    margin-top: 15px;
}
.blg-right .blg2{
    margin-bottom: 20px;

}
.blg-right .blg2 iframe{
    width: 100%;
    height: 100px;
    background: black;
}
.blg-right .blg2 video{
    background: black;
}
.blg-right .blg2 img{
    width: 100%;
}
.blg-right .blg2 p{
    font-size: 10px;
    text-align: left;
    line-height: 13px;
    margin-top: 6px;
    font-weight: 500;
}
.overlay{
    position: absolute;
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    z-index: 99;
    top: 0%;
    background:white;
    display: none;
}
.overlay.show{
    display: block;
}
.innerContent{
    position: absolute;
    width: 100%;
    height: fit-content;
    right:0;
    left:0;
    top:0;
    bottom:0;
    margin:auto;
    /* border:1px solid red; */
}
.innerContent video{
    width: 100%;

}

#videotag{
    background: black;
}

#playvideo .d_hed{
    font-size: 13px;
    color: gray;
    text-align: left;
    font-weight: 700;
}
#playvideo .playvideoInner{
    margin: auto;
    margin-bottom: 30px; 
    box-shadow: 0px 0px 10px lightgray;
    padding: 20px 10px;
    background: white;
    margin-top: 30px;
}
#playvideo .videotitle{
    font-weight: 700;
    font-size: 15px;
    text-align: left;
}
#playvideo .videoHolder{
    display: block;
    background: black;
    width: 100%;
    height: 320px;
}
#playvideo .videoHolder iframe{
    height: 100%;
    max-width: 100%;
}
#playvideo .videoHolder video{
    /*max-height: 150px;*/
}
#playvideo .tabButtons{
    padding: 0px;
    text-align: left;
}
#playvideo .tabButtons .btn{
    background: white ;
    color: gray;
    font-size: 12px;
    border:1px solid lightgray;
    margin-right:10px;
    margin-top:15px;
    padding: 6px 17px;
} 
#playvideo .tabButtons .btn:last-child{
    margin-right: 0px !important;
}
#playvideo .tabButtons .btn.primary{
    border:none;
}
#playvideo .commentstats{  
    font-size: 11px;
    text-align:left;
    margin-bottom:5px;
}
#playvideo .commentstats span:first-child{
    margin-right: 10px;
} 
#playvideo .commentstats span i.fas{
    font-size: 10px;
    color: goldenrod;
}
#playvideo .commentstats span i.far{
    color: goldenrod;
}
i.fa-star{
    color: goldenrod;
}
#playvideo .commentstats span:first-child i.fas{
    margin-right: 1px;
}
#playvideo .videoContents{
    margin-top:10px;
    text-align: left;
    font-size: 12px;
    color: gray;
}
#playvideo .videoContents .details{}
#playvideo .videoContents .details p{
    text-align: left;
    font-size: 12px;
    color:gray;
    line-height: 2;
}
#playvideo .relatedMedia{}
#playvideo .relatedMedia h4{
    font-size: 14px;
    color: gray;
    font-weight: 600;
    text-align: left;
}
.hide{
    display: none;
}

#playvideo .comments{}
#playvideo .comments ul{
    list-style: none;
    padding: 0px;
    margin-top:20px;
    display: block;
    width: 80%;
}
#playvideo .comments ul li{
    margin-bottom: 10px;
    display: -webkit-inline-box;
}
#playvideo .comments ul li div.imageHolder{
    width: 30px;
    height:30px;
    border:1px solid black;
    border-radius: 50%;
    display: block;
    margin-right:7px;
}
#playvideo .comments ul li span.name{
    color:black;
    font-weight: 700;
    padding-top:5px;
}
#playvideo .comments ul li span.time{
    font-size: 10px;
    color:gray;
    padding-top:6px;
    margin-left: 6px;
}
#playvideo .comments ul li .textComment{
    display: block;
    color: black; 
}
#playvideo .comments ul li .commentinfo{
    
}


#memo{
   
}
#memo .memoInner{
    margin: auto;
    margin-bottom: 30px; 
    box-shadow: 0px 0px 10px lightgray;
    padding: 20px 10px;
    background: white;
    margin-top: 30px;
    position: relative;
    min-height: 600px;
    overflow-y: scroll;
}

#memo .memoInner h4.hed{
    color:gray;
    font-size: 14px;
    display: block;
    width: 100%;
}
#memo .containerImage{
    text-align: left;
    padding: 0px;
}
#memo .containerImage .imageContainer{
    height: 140px; 
    /*width: fit-content;*/
    width: 300px;
    overflow: hidden;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    margin-right: 2px;
    border:1px solid #d3d3d370;
    /*background: black;*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all .2s linear;
}
#memo .containerImage .imageContainer:hover{
    cursor: pointer;
    transform: scale(1.02);
}
#memo .containerImage .imageContainer:hover .imagedetails{
    opacity: 0;
}
#memo .containerImage .imageContainer img{
    width: 100%; 
}
#memo .containerImage .imageContainer .imagedetails{

    position: absolute;
    bottom: 0px;
    background: #000000b5;
    color: white;
    height: 40px;
    width: 100%;
    font-size: 12px;
    text-align: left;
    padding: 10px 15px;
    transition: all .3s linear;
}
#memo .containerImage .imageContainer .imagedetails .name{}
#memo .containerImage .imageContainer .imagedetails .stars{
    float: right;
    font-size: 7px;
    padding-top: 4px;
    color: gold;
}
#memo .imageviewer{
    position: fixed;
    /* border:1px solid black; */
    background: black;
    height: 300px; 
    top:0px;
    bottom: 0px;
    left: 0;
    right: 0;
    width: 40%;
    margin:auto;
    box-shadow: 0px 0px 10px gray;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#memo .imageviewer img{
    width: 100%;
    height: 100%;
}
#memo .imageviewer .imageoptions{
    position: absolute;
    bottom: 0px;
    background: #000000b5;
    color: white;
    height: 40px;
    width: 100%;
    font-size: 12px;
    text-align: left;
    padding: 10px 15px;
}
#memo .imageviewer .imageoptions .dropdown{
    float: right;
    font-size: 11px !important;
    padding:3px 0px;
}
#memo .imageviewer .imageoptions .dropdown .dropdown-item{
    padding: 2px 10px;
    font-size: 11px !important;
}
#memo .imageviewer .imageoptions .dropdown .dropdown-toggle::after{
    display: none;
}
#memo .imageviewer .imageoptions i.fas{
    color: white; 
    font-size: 16px;
    margin-top:0px;
}
#memo .imageviewer .imagedet{
    font-size: 10px;
    background: transparent;
    position: absolute;
    top:0;
    text-align: right;
    display: block;
    color: white;
    font-weight: bold;
    width: 100%;
    padding-right:10px;
    padding-top:5px;
}
#memo .imageviewer .imagedet i.fas{
    color:gold;
    font-size: 7px;
    margin-right: 2px;
}
#introvideo{
    position: fixed;
    background: black;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
#introvideo video{
    width:100%;
    height: 100%;
}

.commentBox{
    width:90%;
    box-shadow: 0px 0px 3px lightgray;
    border-radius: 8px;
    padding: 0px;
    position: relative;

}
.commentBox textarea{
    border:0px;
    border-radius: 8px;
    padding: 15px;
    outline:none;
    resize: none;
    margin: 0px !Important;
    font-size: 12px !important;
}
.commentBox .btn{
    font-size: 12px;
    margin-right: auto;
    border-radius:0px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    /*border:2px solid #00b3ff;*/
    margin-bottom: 2px;
    margin-right: 2px;
}

.commentBox .tools{
    text-align: right;
    /*box-shadow: 0px -2px 2px lightgrey;*/
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 12px !important;
}
.commentBox .tools i:hover{
    cursor: pointer;
}
.commentBox .tools i.far.fa-star{
    color:goldenrod;
}
.commentBox .tools i.fas.fa-star{
    color:goldenrod;
}
.blg2 a{
    display: block;
    white-space: nowrap;
    overflow-x: hidden;
    font-size: 12px;
    text-align: left;
}

.imageviewer:hover .rateImage{
    display: block;
}
.imageviewer:hover .rateImage.hide {
    display: none;
}
.imageviewer .rateImage:hover .contain{
    transform: scale(1.3);
}
.rateImage.hide{
    display: none;
}
.rateImage{
    padding: 10px;
    text-align: center;
    position: absolute;
    top:0;
    bottom:0;
    margin: auto;
    width: 100%;
    height: 100%;
    background:#00000069;
    display:none;
}
.contain{
    position: absolute;
    top:0;
    bottom:0;
    margin: auto;
    width: 100%;
    height: fit-content;
    color: white;
    transition: all .3s ease-in-out;
    transform: scale(0);
}
.rateImage h3{
    font-size: 15px;
}
.contain i{
    cursor: pointer;
}

.blogDetails{

}
.blogDetails h3{
    text-align: left;
    font-size: 18px;
    margin-top:10px;
    font-weight: bolder;
}
.blogDetails .headStats{
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    color:gray;
    font-weight: lighter;
}
.blogDetails .headStats .votes{
    font-size: 10px;
}
.blogDetails .headStats i{
    margin:0px 1px;
}
.blogDetails .headImage{
    margin-top: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 170px;
    width: 100%;
}
.articleParagraph{
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.9;
    color:gray;
    text-align: left;
    padding-bottom: 5px;
    border-bottom: 1px solid gray;
}
.bottomStats{
    font-size: 11px;
    color:gray;
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
}
.bottomStats .stats1{
    padding: 0px;
    text-align: left;
}
.bottomStats .stats2{
    padding: 0px;
    text-align: right;
}
.bottomStats .stats2 span{
    margin:0px 4px;
    font-size: 11px;
}
.bottomStats .stats2 i{
    margin: 0px 1px;
}
.notloggedin{
    margin-top: 10px;
    border:1px solid #f5f5f5;
    color:gray;
    font-size: 12px;
    padding: 5px 20px;
    text-align: left;
}
.notloggedin p{
    margin:0px;
    font-weight: normal;
}

#blog .comments ul{
    list-style: none;
    padding: 0px;
    margin-top:20px;
    display: block;
    width: 80%;
}
#blog .comments ul li{
    margin-bottom: 10px;
    display: -webkit-inline-box;
}
#blog .comments ul li div.imageHolder{
    width: 30px;
    height:30px;
    border:1px solid black;
    border-radius: 50%;
    display: block;
    margin-right:7px;
}
#blog .comments ul li div.commentinfo{
    text-align: left;
    font-size: 12px;

}
#blog .comments ul li span.name{
    color:black;
    font-weight: 700;
    padding-top:5px;

}
#blog .comments ul li span.time{
    font-size: 10px;
    color:gray;
    padding-top:6px;
    margin-left: 6px;
}
#blog .comments ul li .textComment{
    display: block;
    color: black;
}
#blog .comments ul li .commentinfo{

}
.bottomButton{
    display: flex;
    justify-content: flex-end;
}
.btn-dish{
    color:#00affa;
    border:1px solid #00affa;
    font-size: 11px;
}
.blg2 a{
    text-decoration: none;

}
.ad_banner{
    max-width: 100%;
    display: block;
    margin-bottom: 10px;
}
.ad_banner2{
    margin-bottom: 15px;

}
.document-display iframe{
    width: 100%;
}